/*!
 * 
 * CUSTOM CSS STYLE FOR NY IPHONE REPAIR WEBSITE
 * 
 */


/* Google Fonts - OPEN SANS */
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&display=swap');


    .navbar-toggler .navbar-toggler-icon .fa{
    font-size: 30px;
    display: block !important;
    color: #e69906!important;
    border:0;
    }

    .main-navigation .logo-header{
    display: block;
    float: left;
    width: 250px !important;height:80px;
    background:url(../img/gogreen-logo.png) 0 0 no-repeat;
    margin-right: 0 !important;
    margin-top: 10px;

    }

    .main-navigation{
    background-color: #ffffff;
    display: block;
    padding-left: 0;padding-right: 0;
    padding-top: 15px;padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    }

    .main-navigation .nav-list .nav-link{
    font-family: "Open Sans";
    font-weight:600;
    color: #313433;
    text-transform:uppercase;
    font-size: 13px;
    letter-spacing: 1px !important;
    margin-right:5px;
    margin-top: 10px;
    text-align: center;
    }

    .nav-list .nav-item .btn-nav-book{
    text-transform:capitalize;
    padding-top: 8px;
    padding-bottom:8px;
    font-size: 16px;
    color: #009031;
    border-radius:2px;
    padding-left: 20px;padding-right: 20px;
    }

    .nav-list .nav-item .gt-quote{
       background-color: #12de64;
        /*background-image: -webkit-linear-gradient(0deg, #251c6e 0%, #362a91 52%, #4638b3 100%);*/
        padding-top: 10px;
        padding-bottom:10px;
        font-size: 16px;
        color: #ffffff;
        border-radius:2px;
        padding-left: 20px;padding-right: 20px;
        margin-right: 25px;
        border-radius: 20px;
        }

        .nav-list .nav-item .gt-quote:hover{
            background-color:#12de64;
            color: #fff !important;
        }
    

    .nav-list .nav-item .btn-nav-book .fa{
    margin-right: 7px;
    font-size: 22px;
    vertical-align: -3px;
    margin-left: 10px;
    color: #009031;
    }


    .main-navigation .nav-list .nav-link:hover{
    cursor: pointer;
    color: #039be5;
    }

    .nav-list .nav-item .btn-nav-book:hover{
        color: #00678a;
    background-color: transparent;
    }

    .nav-list .dropdown{
    font-family: "Open Sans";
    font-weight:600;
    color: #313433;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    margin-right:10px;
    text-align: center;
    position: relative;
    margin-top: 18px;
    }

    .nav-list .dropdown a{
    color: #313433;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    text-align: center;
    }
    .nav-list .dropdown a:hover{
    text-decoration: none;
    color: #069455;
    }

    .nav-list .dropdown a .caret{
    padding-top: 10px;
    }


   .nav-list .dropdown .nav-dropdown{
    border-radius: 0;
    width:240px;
    padding-bottom:0;
      padding-top: 0;
    }

    .nav-list .dropdown .nav-dropdown li{
    padding-top:8px;padding-bottom:8px;
    display: inline !important;
    float: left;
    border-right: 1px solid #eee;
    border-top:1px solid #eee; 
    width:100%;
    }

    .nav-list .dropdown .nav-dropdown li:nth-child(2n){
        background-color: #f9f6f6;
    }

    .nav-list .dropdown .nav-dropdown li:nth-child(3n){
    border-right: 0;
    }

	.nav-list .dropdown .nav-dropdown .open-repair{
	width: 100%;
	border: none;
	background-color:#e69906 ;
	padding-top:5px;padding-bottom:5px;
	}

	.nav-list .dropdown .nav-dropdown .open-repair:hover{
	background:#cc8807;
	}

    .nav-list .dropdown .nav-dropdown .open-repair .btn-go-repair{
	text-align: center;
	text-transform: uppercase;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
	 font-family: "Open Sans";
    font-weight: 500;
    border: 0;
	 }

    .nav-list .dropdown .nav-dropdown .open-repair .btn-go-repair .fa{
    	margin-left: 10px;
    }

	.nav-list .dropdown .nav-dropdown .open-repair .btn-go-repair:hover{
	text-decoration: underline;
	color: #e0e1e2;
	cursor: pointer;
	}
	
	.nav-list .dropdown .nav-dropdown .open-repair .btn-go-repair:focus,.nav-list .dropdown .nav-dropdown .open-repair .btn-go-repair:active{
	 outline: none !important;
  box-shadow: none !important;
	}
   
    .nav-list .dropdown .nav-dropdown li a img{
   	display: block;
   	margin-right: auto;
   	margin-left: auto;
    }

    .nav-list .dropdown .nav-dropdown a p{
    font-family: "Open Sans";
    font-weight: 600;
    color: #313433;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
     padding-left: 15px;padding-right: 15px;
     margin-top:0;
     text-align: left!important;
     width: 100%;
     margin-bottom:0;
    }

    .dropdown .nav-dropdown li a:hover{
    color: #e69906;

    }

    .dropdown .nav-dropdown li a>p:hover{
    color:#e69906;
    }

    .nav-list .dropdown .nav-dropdown li:hover{
    background: #f5f6f8;
    }

    .nav-list .dropdown .nav-dropdown .nav-title a img {
    display: block;
    float: left;
    padding-left: 10px;
    }

    .nav-list .dropdown .nav-dropdown .nav-title a p{
    text-align: center !important;
    padding-top:7px;
    color: #313433;
    font-weight: 700;
    }
  

     /*contact us section*/

    #contact-section{
    background-image: url(../img/pest-cover.jpg);
    position: relative;
    background-repeat: no-repeat;
    padding:120px 0 10px;
    background-color: #fff;
    background-size: cover;
    height: 850px;
    }

 



    #contact-section .contact-informations{
    display: block;
    margin-top: 70px;
    }

    .contact-informations h2{
    margin-top: 15px;
    font-size: 34px;
    font-family: "Open Sans";;
    text-align: left;
    color: #fff;
    font-weight:700;
    letter-spacing:1px;  
    margin-bottom: 30px;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase;
    
    }

    .contact-informations h6{
    font-family: "Open Sans";
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    text-align: left;
    padding-left: 40px;
    text-shadow: 1px 1px #000000;
    }

    .contact-informations h6 .fa{
    color: #fff;
    margin-right: 13px;
    }


    .contact-informations  h3{
    font-size: 20px;
    font-family: "Open Sans";;
    text-align: left;
    color: #fff;
    font-weight:600;
    text-shadow: 1px 1px #000000;

    margin-bottom:25px;

    }
    

    .contact-informations .slider-btn{

        background-color: #f2c852;
       
        padding-top:12px;
        padding-bottom: 12px;
        font-size: 19px;
        color: #ffffff;
        border-radius: 2px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 25px;
     display: block;
     width: 250px;
     text-align: center;
     border-radius: 30px;
     margin-top:70px;
    }
   
    .green {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #008c30;
    }

    .bug-list{
        display:block;
        width: 100%;
        list-style: none;
        margin-top:40px;
        padding-left: 0;
        margin-top: 0;
    }
 
     .bug-list li{
     display: block;
     float: left;
    width: 15%;
     
    
 
     }
 
     .bug-list li:last-child{
         margin-right: 0;
     }
 
     .bug-list li img{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 45px;
     }
 
 
 
     .bug-list li p{
     font-size: 13px;
     font-family: "Roboto";
     text-align: center;
     color: #ffffff;
     font-weight: 400;
     line-height: 15px;
     margin-top: 15px;
     margin-bottom: 0;
  
     }
 




    /* HOME PAGE LAYOUT */

    #info-description{
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #009031;
    }

    .dots{
        color:#fff;
        list-style-type:circle !important;
        margin-top: 15px;
        width: 100%;
        display: block;
        float: left;
    
        }
    
        .dots li{
    
        list-style: none;
        margin-bottom:0;
        width: 47%;
        float: left;
        display: block;
    
        }
    
        .dots li p{
            font-family: "Roboto";
        font-weight: 600;
        color: #fff;
        font-size: 17px;
        margin-bottom: 5px;
        }
    
        .dots li p .fa{
            margin-right: 10px;
        }
        

    .info-left-side h2{
        font-family: "Roboto";
        font-weight: 600;
        color: #fff;
        font-size: 32px;
        margin-bottom: 25px;

    }

    .info-left-side  h3 {
    font-family: "Open Sans";
    font-weight: 500;
    color: #273a44;
    font-size: 22px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 20px;
    }

    .info-left-side  h5{
    font-family: "Open Sans";
    font-weight: 400;
    color: #073664 !important;
    font-size: 24px;
    text-align: left;
    margin-bottom: 35px;
    }

    .info-left-side  h6{
    font-family: "Open Sans";
    font-weight: 600;    
    color: #404b54; 
    font-size: 15px;
    text-align: left;
    margin-bottom: 30px;
    }

   
    .info-left-side h4 {
        color: #fff;
        font-size: 17px;
        font-family: "Open Sans";
        margin-bottom: 20px;
        margin-bottom: 10px;
        font-weight: 500;
        line-height: 25px;
    }

    .info-left-side h4 .fa{
        color: #12de64;
        font-size: 15px;
        margin-right: 10px;
     
    }


    .info-left-side  h6{
    font-family: "Open Sans";
    font-weight: 400;
    color:#273a44;
    font-size: 16px;
    text-align: left;
    }

    .info-left-side  .btn-quote-sell{
    font-family: "Open Sans";
    font-weight: 500;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 3px;
    background: #E69906;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    }

 


    .sell-right-side img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }




    /* Banner call us now  */
    
    .banner-call{
    padding-top:40px;padding-bottom: 40px;
  
    border-radius: 20px;
    width: 100%;
    margin-bottom: 50px;
    
    }

    .banner-call .call-left h4{
    font-family: 'Open Sans';
    font-weight: 700;
    color:#009031;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
     
    }

    .banner-call .call-left h5{
    font-family: 'Open Sans';
    font-weight: 00;
    color: #009031;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
     text-shadow: 0px 1px #000;
    }

    .banner-call .call-left h5 span a{
       font-family: 'Open Sans';
    font-weight: 700;
    color: #ffffff;
    font-size: 35px;
    margin-top: 10px;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0px 1px #000;
    border: 2px solid #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;padding-bottom: 5px;
    border-radius: 5px;
    margin-right: 10px;margin-left: 10px;
  
    }

    .banner-call .call-left h5 span a .fa {
    margin-left: 10px;margin-right: 8px;
    font-size: 30px;
    color: #fff;
    }

   #back-to-top {
    position: fixed;
    bottom: 40px;
    right: 15px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: rgba(0,0,0,0.3);
    color: #fafafa;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    }
    #back-to-top:hover {
    background: rgba(0,0,0,0.5);
    }
    #back-to-top.show {
    opacity: 1;
    }


    /* SECTION CHOOSE COLOR */

    
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    
    #custCarousel .carousel-indicators {
        position: static;
        margin-top: 20px;
    }
    
    #custCarousel .carousel-indicators>li {
        width: 100px;
    }
    
    #custCarousel .carousel-indicators li img {
        display: block;
        opacity: 0.5;
    }
    
    #custCarousel .carousel-indicators li.active img {
        opacity: 1;
    }
    
    #custCarousel .carousel-indicators li:hover img {
        opacity: 0.75;
    }
    
    .carousel-item img {
        width: 100%;
    }

    


 
    /* ANTISLIP SECTION */


    #section-antislip{
    padding-top: 40px;
    padding-bottom:0;
    background-color:#f3f5f7;
    }

    #custCarousel{
    margin-bottom: 30px;
    }

    .carousel-inner img {
    width: 100%;
    height: 100%;
    }

    #custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px;
    }

    #custCarousel .carousel-indicators>li {
    width: 100px;
    }

    #custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    }

    #custCarousel .carousel-indicators li.active img {
    opacity: 1;
    }

    #custCarousel .carousel-indicators li:hover img {
    opacity: 0.75;
    }

    .carousel-item img {
    width: 100%;
    }

    .antislip-info{
    padding: 30px;
    }

    .pest{
        padding-left: 10px;
        width: 100%;
        display: block;
        float: left;
    }

        .pest li{
        display: block;
        float: left;
        width: 100%;
        margin-bottom: 15px;
        background-color: #f6f6f6;
        border-radius: 20px;
        }

        .pest li p {
        margin-bottom: 0;
        font-family: "Roboto";
        font-weight: 600;
        color: #1E1D24;
        font-size: 16px;
        padding-top: 25px;
        text-transform: uppercase;
        }

        .pest li img{
        float: left;
        display: block;
        margin-right: 25px;
        width: 100px;
        height: 70px;
        }

    .antislip-info h2{
    font-family: "Roboto";
    font-weight: 600;
    color: #1E1D24;
    font-size: 34px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    }

    .antislip-info h3{
    font-family: "Roboto";
    font-weight: 400;
    color: #1E1D24;
    font-size: 22px;
    text-align: center;
    margin-top:5px;
    margin-bottom: 10px;
    }

    .antislip-info h6{
    font-family: "Open Sans";
    font-weight: 500;
    color: #1E1D24;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
    }

    .fea-list{
    display: block;
    margin-bottom: 35px;
     
    
    }

     .fea-list  p{
    font-family: "Open Sans";
    font-weight: 600;
    color: #1E1D24;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    }

     .fea-list  img{
     width: 120px;height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

     .blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;

    }

    .get-contact {
        background-color: #009031;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 19px;
        color: #ffffff;
        border-radius: 2px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 25px;
        display: block;
        width: 250px;
        text-align: center;
        border-radius: 30px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }


    .process-text h2{
        font-family:"Open Sans";
        font-weight: 700;

        color: #1E1D24;
        font-size: 20px;
        text-align: left;
        margin-top: 5px;
        margin-bottom:20px;
        font-family:"Open Sans";

        }


         .process-text .pest-img{
             display: block;
             margin-left: auto;
             margin-right: auto;
         }

        .process-text h5{
        font-weight: 600;
        color: #1E1D24;
        font-size: 15px;
        text-align: left;
        padding-left: 15px;
        margin-bottom: 10px;
        padding-bottom: 0;
        font-family:"Open Sans";
        }



        .process-text h5 .fa{
        color: #4baf21;
        margin-right: 13px;
        font-size: 16px;
        vertical-align: 1px;
        }





    /* The colour of the indicators */
    .blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    }

    .blog .carousel-indicators .active {
    background: #707070;
    }

    .blog  .carousel-item img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    } 

    .blog  .carousel-item .txt-short{
        position: absolute;
        bottom: 5px;
        right: 25px;
        font-size: 16px;
        font-family: "Open Sans";
        font-weight: 400;
        padding-left: 25px;padding-right: 25px;
        padding-top: 4px;padding-bottom: 4px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.4);
    }

    
    .blog  .carousel-item .txt-short a{
     
        font-size: 16px;
        font-family: "Open Sans";
        font-weight: 600;
        
        color: #fff;
      
    }


        





        
    /* commercial SECTION */


 

 

    
	/* --------------- FOOTER STYLE -------------------  */ 


	  footer{
        background:#009031;
        padding-top:45px;
        padding-bottom:0
    
        }
    
        footer .logo-left {
        display: block;
        float: left;
        list-style-type: none;
        padding-left: 0;
        width: 100%;
        margin-top: 22px;
        }
    
         footer .text-rights{
        text-align: center;
        font-family: 'Archivo Narrow', sans-serif;
        font-weight: 400;
        color: #7b8084;
        font-size: 11px;
        letter-spacing: 1px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        padding-left: 10px;
        margin-top:20px;
        border-top: 1px solid #1d2428;
        padding-top: 10px;
        letter-spacing: 1px;
         }
    
         .social-footer{
            display: block;
            float: left;
            list-style-type: none;
            width: 80%;
        
            }
        
            .social-footer  h3{
            font-family: "Roboto";
            font-weight: 400;
            color: #fff;
          
            font-size: 13px;
            text-align: left; 
           
            padding-bottom: 12px;
            margin-bottom: 20px;
           
            }
        
            .social-footer  h3 .fa{
            margin-right: 15px;
            font-size: 14px
            }
        
            .social-footer li{
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
            }
        
            .social-footer li p{
            font-family: "Roboto";
            font-weight: 300;
            color: #dee1e3;
            font-size: 13px;
        
            letter-spacing: 1px; 
            margin-bottom: 3px; 
            }
        
            .social-footer li p span{
            font-family: "Roboto";
            font-weight: 500;
            color: #dee1e3;
            font-size: 13px;
            text-align: center; 
            letter-spacing: 1px; 
            margin-bottom: 3px; 
            text-align: center;
            }
            
          
    
    
    
    
          /* Footer contact information */
    
        .adress-nav{
        list-style-type:none;
        float: right;
        }
    
    
        .adress-nav h3 {
        font-family: 'Archivo Narrow', sans-serif;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        letter-spacing: 1px;
        border-bottom: 1px solid #fafafa;
        padding-bottom: 10px;
        margin-bottom: 12px;
        width: 95%;
        }
    
    
        .adress-nav li a {
        font-family: 'Archivo Narrow', sans-serif;
           font-size: 18px;
         font-weight: 600;
        color: #ffffff;
        text-align: left; 
        letter-spacing: 1px; 
        margin-bottom: 3px;
        }

        .adress-nav li .footer-quote{
            font-size: 15px;
            font-weight: 500;
           color: #ffffff;
           text-align: center; 
           font-family: "Open Sans";
           padding-top:5px;padding-bottom:5px;
           width: 250px;
           margin-bottom: 5px;
           display: block;
        }
    
        .adress-nav li p {
        font-family: 'Archivo Narrow', sans-serif;
        font-size: 13px;
        font-weight: 500;
        color: #ffffff;
        text-align: left;
        float: left; 
        letter-spacing: 1px; 
        margin-bottom: 3px;
        margin-right: 10px;
        }
    
         .adress-nav li img{
          display: block;
          margin-right: 10px;
          float: left;
         }
    
         
    
        .adress-nav li a .fa{
         margin-right:11px;
         font-size: 18px;
         color:#ffffff;
        }
    
        .adress-nav li a:hover{
        cursor: pointer;
        color: #fafafa;
        text-decoration: none;
        }

        
	.sub-footer{
        display: block;
        width: 100%;
        padding-top:8px;padding-bottom:8px;
        background-color:#009031;
        margin-top: 20px;
        }
    
        .sub-footer .copy {
            font-family: "Roboto";
        font-weight: 400;
        color: #fff !important;
        text-align: center;
        display: block;
        font-size: 11px;
        float: right;
        margin-top: 3px;
        letter-spacing: 1px;
        margin-bottom: 3px;
        }
    
    

    

	/* --------------- FOOTER STYLE -------------------  */ 


    /* HOme Page banner section before after about  */

    .banner-left-1{
    width: 100%;
    display: block;
    padding-left: 0;
    padding-right: 0;
    }

    .banner-left-1 .img-fluid{
   
    }

    .banner-right-3{
     width: 100%;
    display: block;
    padding-left: 0;
    padding-right: 0;
    }   
    
    .banner-center-2 .txt-center{
    display: block;
    width: 100%;
    margin-top: 15px;
    }


    .banner-center-2 .txt-center h2{
    font-family: 'Open Sans';
    font-weight: 600;
    color: #313433;
    font-size: 26px;
    margin-bottom:20px;
    text-align: left;
    }

    .banner-center-2 .txt-center p{
    font-family: 'Open Sans';
    font-weight: 600;
    color: #313433;
    font-size: 14px;
    text-align:left;
    }

    .banner-center-2 .button-go-services{
       display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width:190px;
    font-family: "Open Sans";
    font-weight:600;
    color: #ffffff;
    text-transform: uppercase;
    background-color:#039BE5;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid #039BE5;
    border-radius: 2px;
    margin-top: 35px;
    font-size: 14px;
    margin-bottom: 10px;
    }

  

    /* banner*/


      .demo-box{
    background-color:#253f59;
    display: block;
    width: 100%;
    margin-top: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    background: url(../img/orange-cover.png);
    background-repeat: repeat-x;
    }

    .demo-box .box-content{
    display: block;
    margin-right: auto;
    margin-left: auto;
    }

    .demo-box .box-content h3{
    font-family: "Open Sans";
    font-weight: 600;
    color:#fff;
    font-size: 27px;
    text-align: center;
    padding-bottom: 5px;
    }

    .demo-box .box-content p{
       font-family: "Open Sans";
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    }


    .demo-box .box-content .border-line-5{
      border-bottom: 1px solid #fafafa;
    width: 20%;
    margin-bottom: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;

    }

    .box-content .btn-signup-5{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
      font-family: "Roboto";
    font-weight: 500;
    color: #fafafa;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #203c53;
    padding-top: 13px;padding-bottom: 13px;
    border:0;border-radius: 0;
    letter-spacing: 1px;
    margin-top: 30px;
    }

    .box-content .btn-signup-5:hover{
        cursor: pointer;
        /*background-color: #cc9d19;*/
        color: #ffffff;
    }


    .thank-you{
        padding-top: 35px;
        padding-bottom: 35px;
        margin-top: 130px;
        box-shadow: 0 5px 15px 0 rgba(0,0,0,.1);
        background-color: #fafafa;
    }

    .thank-you h2{
        font-family: "Roboto";
        font-weight: 600;
        /* color: #f88936 !important; */
        color: #009031;
        font-size: 38px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }
    
    .thank-you h4{
        font-family: "Roboto";
        font-weight: 400;
        /* color: #f88936 !important; */
        color: #009031;
        font-size: 23px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 20px;
        width: 100%;
    }

    .thank-you img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .thank-you a{
        margin-top: 50px;
        font-family: "Roboto";
        font-weight: 400;
        text-decoration: none;
        color: #039be5;

    }

    .thank-you a .fa{
        margin-left: 10px;
    }



    #contact-us-home{
        padding-bottom: 40px;
        padding-top: 40px;
        padding-left: 0;padding-right: 0;
        background-image: url(../img/contact-banner.jpg);
        background-size: cover;
        background-repeat: n;
        
        }
    
        #contact-us-home .main-hd{
            font-size: 24px;
        font-weight: 400;
        margin-top: 5px;
        margin-bottom:45px;
        text-align: center;
        color: #0c1f44;
        font-family: "Open Sans";
        display: block;
        margin-right: auto;margin-left: auto;
        }
    
        #contact-us-home  .contact-box-home{
            padding-left: 0;padding-right: 0;
        }
    
        .contact-box-home .contact-us-form{
        border: 1px solid #eee;
        padding-left:30px;padding-right: 30px;
        padding-bottom: 50px;padding-top:30px;
        width:100%;
        box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
        background-color: #fafafa;
        }
    
        .contact-box-home .contact-us-form h2{
            font-size: 30px;
        font-weight: 700;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        color:#1E1D24;
        margin-top: 25px;
        width: 100%;
    
        margin-bottom: 0
        }
    
         .contact-box-home .contact-us-form h3{
              font-size: 16px;
        font-weight: 400;
        text-align:center;
        font-family: 'Open Sans', sans-serif;
        color: #0c1f44;
        margin-top: 5px;
        width: 100%;
        
        margin-bottom:40px;
        
         }
    
        .contact-box-home .contact-us-form  .send-message{
        color: #fff;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 23px;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 25px;
        background-color: #12de64;
        padding-top: 15px;
        padding-bottom: 15px;
        }
    
        .contact-box-home .contact-us-form  .send-message:hover{
        background-color: #12de64;
        }
    
        .contact-box-home .contact-us-form .contact-form-control{
        font-size: 13px;
        color: #0c1f44;
        background: #ffffff;
         border: 1px solid #b4c2c5;
        border-radius: 0;
        font-family: "Open Sans";
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 20px;
        width: 100%;
        font-weight:600;
       
        }
    
        .contact-box-home .contact-form-control::placeholder{
        color: #0c1f44;
         font-weight:600;
         font-family: "Open Sans";
    
        }
    
        .contact-box-home .contact-form-control:focus {
        border: 1px solid #0c1f44 !important;
        -webkit-box-shadow: none;
        outline: -webkit-focus-ring-color auto 0px;
       
        }




    /* -------------------  RESPOSNIVE DESGIN -------------------  */
    
      
    
    
    @media (max-width: 1079px) {

          .main-navigation .nav-list .nav-link{
            font-size: 11px;
          }

          #buy-txt-section .repair-content h2{
            font-size: 24px;
          }

          .banner-call .call-left h4{
            font-size: 18px;
          }

          .banner-call .call-left h5{
            font-size: 26px;
          }

              .banner-call .call-left h5 span {
            font-family: 'Open Sans';
            font-weight: 700;
            color: #ffffff;
            font-size: 26px;
            margin-top: 10px;
            letter-spacing: 1px;
            text-align: center;
            text-shadow: 0px 1px #000;
            border: 2px solid #fff;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 5px;
            margin-right: 10px;
            margin-left: 10px;
            }

            .demo-box .box-content h3{
                font-size: 24px;
            }

            .info-left-side h2{
                font-size: 26px;
            }


      }


    @media (min-width: 1920px) {

        #pricing-section{
            background-color: #fafafa;
            background-image: none;
            width: 100%;
        }

        .call-left img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .banner-call .call-left h4{
            text-align:left;
        }

        .banner-call .call-left h5{
            text-align: left;
        }

        .blog img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    }
        





	/* Responsive Design Changes fixes CSS Tablet  */
	
    @media (max-width: 1200px) { 
    
       

        .ser-box p{
        font-size: 13px;
        }

        .ser-box h6{
        margin-top: 15px;
        font-size: 14px;
        }

        .info-left-side h2{
        font-size: 35px;
        }
        .info-left-side h4{
        font-size: 16px;
        }

        .banner-call .call-left h4{
            font-size: 33px;
        }
        .banner-call .call-left h5{
            font-size: 17px;
        }

        .color-info h2{
            font-size: 34px;
        }

        .color-info h6{
            font-size: 16px;
        }

        .price-box{
            max-width: 290px;
        }

        .price-box .headline{
            font-size: 29px;
        }

        .price-box .price {
            text-align: center;
            color: #fff;
            font-size: 50px;
            font-weight: 700;
            font-family: "Open Sans";
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .price-box p{
            font-size: 14px;
        }

        .price-box .button-go {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 197px;
            border-radius: 10px;
            font-size: 20px;
            font-family: "Open Sans";
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 25px;
            margin-bottom: 25px;
            text-align: center;
            /* background-image: -webkit-linear-gradient(-45deg, rgba(250, 209, 38, 0.99608) 0%, #ff544f 100%); */
            padding-top: 10px;
            padding-bottom: 10px;
            border: 3px solid #fff;
            font-size: 16px;
        }

        .antislip-info h2{
            font-size: 32px;
        }

        .antislip-info h3{
            font-size: 20px;
        }

        .new-buy-info {
            padding-bottom: 20px;
            margin-bottom: 15px;
            padding-left: 5px;
            padding-right: 5px;
         
        }

        .fea-list{
            padding-left: 0;
        }

        .fea-list li {
            margin-right: 20px;
        }

        .new-buy-info .img-placeholder .in-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
            border: 1.5px solid #838384;
            width: 96%;
        }

        .new-buy-info .img-title {
            color: #fff;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 7px;
            padding-bottom: 7px;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 15px;
            border-radius: 5px;
            font-family: "Open Sans";
            margin-top: 4px;
            position: absolute;
            bottom: 10px;
            left: 25px;
            background-image: -webkit-linear-gradient(0deg, #251c6e 0%, #362a91 52%, #4638b3 100%);
        }

        #section-services .t-1{
            font-size: 35px;
        }

        .commercial-info h2{
            font-size: 33px;
        }

        .piccom{
            margin-top: 80px!important;
            display: block;
        }

        .c-list li img{
            width: 45px;
            height: 45px;
        }

        .info-service p{
            font-size: 15px;
        }

        .commercial-info h6{
            font-size: 15px;
        }

        #commercial-section{
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .c-list li p {
            font-family: "Open Sans";
            font-weight: 600;
            color: #273a44;
            font-size: 14px;
            margin-top: 20px;
            margin-bottom: 5px;
            text-align: center;
        }

        .c-list li{
            margin-right: 5px;
            padding-bottom: 11px;
        }

        .info-service h2{
            font-size: 30px;
        }

        .new-buy-info .img-titl{
            font-size: 18px;
        }

        .blog .pic-1{
            margin-top: 70px;
            display:block;
        }

        .review-section .text-box-cust h2{
            font-size: 34px;
        }

        .review-section .impression-user{
            height: 280px;
        }

        .review-section .impression-user h6{
            font-size: 13px;
        }

        .review-section .impression-user .name-cst{
            font-size: 16px;
            bottom: 20px;
        }


      

	} /* end mobile responsive media querie*/



    @media (max-width: 991px) {
        
        

        .contact-informations h2{
            font-size: 26px;
        }

        .contact-informations h6 {
            font-family: "Open Sans";
            font-weight: 600;
            color: #fff;
            font-size: 16px;
            text-align: left;
            padding-left:0;
        }

        .contact-us-form{
            width: 100%;
        }

        .info-left-side h6{
            font-size: 14px;
        }

        .color-pic{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .info-left-side h4 {
            font-size: 15px;
        }

        .other-services .h-title1{
            font-size: 32px;
        }

        .other-services .txt-title-1{
            font-size: 19px;
        }

        #pricing-section h1{
            font-size:34px ;
        }

        .price-box {
            max-width: 225px;
            margin-right: 7px;
            padding-top: 15px;
            position: relative;
        }

        .price-box .headline {
            font-size: 26px;
        }
        .price-box p {
            font-size: 13px;
        }

        .price-box h4{
            font-size: 15px;
        }

        .price-box .button-go {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 182px;
            border-radius: 10px;
            font-size: 20px;
            font-family: "Open Sans";
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 25px;
            margin-bottom: 25px;
            text-align: center;
            /* background-image: -webkit-linear-gradient(-45deg, rgba(250, 209, 38, 0.99608) 0%, #ff544f 100%); */
            padding-top: 7px;
            padding-bottom: 7px;
            border: 3px solid #fff;
            font-size: 15px;
         
        }

        .banner-call .call-left h4{
            font-size: 22px;
            margin-top: 10px;
        }

        .banner-call .call-left h5 {
            font-size: 15px;
        }

        .blog .pic-1 {
            margin-top:0;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .new-buy-info .img-placeholder .in-image{
            width: 100%;
        }

        .piccom {
            margin-top:20px!important;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .review-section .impression-user {
            height: 177px;
        }

        .impression-user .star {
            position: absolute;
            left: 40%;
            bottom: -3%;
         width:15%;
        }

        .review-section .impression-user .name-cst {
            font-size: 16px;
            bottom: 20px;
            text-align: center;
            left: 41%;
        }

        .sell-right-side img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top:20px;
        }

        .fea-list {
            display: block;
            width: 65%;
            padding-left:0;
            margin-top: 35px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }


    }  /* end  max widht 991px  */
	

   

    @media (max-width: 767.98px) {

        
        .contact-informations h2{
            text-align: center;
        }

        .contact-informations h6{
            text-align: center;
        }

        .contact-informations h3{
            font-size: 18px;
            text-align: center;
        }

        .contact-us-form{
            margin-top: 30px;
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .ser-box{
            margin-bottom: 15px;
        }

        .info-left-side h4 {
            font-size: 14px;
        }

        .call-left{
            padding-left: 15px !important;
            padding-top: 15px;
        }

        .color-info h2 {
            font-size: 28px;
            margin-top: 0;
        }

        .color-info h6 {
            font-size: 15px;
            text-align: center;
        }

        .other-services .txt-title-1 {
            font-size: 16px;
        }

        .fea-list li {
            margin-right: 15px;
            width: 40%;
        }

        .price-box {
            max-width: 240px;
            margin-right: 7px;
            padding-top: 15px;
            position: relative;
        }

        #pricing-section {
            padding-top: 30px;
            padding-bottom: 30px;
            background-image: none;
            position: relative;
            background-repeat: no-repeat;
            background-color: #fafafa;
        }

        .antislip-info h2 {
            font-size: 28px;
        }

        .antislip-info h6 {
            font-family: "Open Sans";
            font-weight: 400;
            color: #fff;
            font-size: 15px;
            text-align: left;
        }

        #section-services .t-1 {
            font-size: 30px;
        }

        .info-service h2 {
            font-size: 28px;
        }

        .commercial-info h2 {
            font-size: 28px;
        }

        .fea-list{
            width: 100%;
        }

        #section-services .t-2{
            font-size: 17px;
        }

        .call-left img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .info-left-side h2 {
            font-size: 28px;
            text-align: center;
        }






	}   /* /End responsive Tablet size */




	
	@media (max-width: 575.98px) { 
    
        

        .contact-informations h6{
            text-align: center;
        }

        .review-section .impression-user {
            height: 251px;
        }

        .impression-user .star {
            position: absolute;
            left: 40%;
            bottom: -3%;
            width: 25%;
        }

        .adress-nav{
            float: left;
            margin-top: 20px;
        }

        .box-cust h2 {
            font-size: 27px;
        }

        .review-section{
            padding-top: 20px;
            margin-top: 10px;
        }

        .info-service h2 {
            font-size: 26px;
        }
        .review-section .text-box-cust h2 {
            font-size: 34px;
        }

        .commercial-info{
            padding: 15px;
        }

        .c-list li img {
            width: 45px;
            height: 45px;
            display: block !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }

        .c-list li p {
            width: 100%;
            display: block;
            float: left;
            text-align: left;
            margin-top: 10px;
        }

        .main-description .row{
            padding-left:5px !important;
            padding-right: 5px !important;
        }

        .price-box {
            max-width: 270px;
            margin-right: 7px;
            padding-top: 15px;
            position: relative;
        }

        .banner-call .call-left h4 {
            font-size: 22px;
            margin-top: 4px;
            margin-bottom: 5px;
        }

        .info-left-side h4 .fa {
            color: #f8791b;
            font-size: 17px;
            margin-right: 5px;
        }

        #main-description .r-2{
            padding-left: 0!important;
            margin-top: 25px !important;
        }

        #main-description .r-1{
            padding-right: 0!important;
        }

        .color-info {
            padding-left: 20px;
            padding-right: 20px;
        }

        .review-section .text-box-cust h2 {
            font-size: 28px;
        }

        .sell-right-side{
            padding-right: 0;
        }

        .info-service{
            border-top-left-radius: 0;
            border-bottom-right-radius:0;
            padding-left: 30px;
        }


      

	} /* end mobile responsive media querie*/

