/*!
 * 
 * CUSTOM CSS STYLE FOR NY IPHONE REPAIR WEBSITE
 * 
 */


/* Google Fonts - OPEN SANS */
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&display=swap');


    .navbar-toggler .navbar-toggler-icon .fa{
    font-size: 30px;
    display: block !important;
    color: #e69906!important;
    border:0;
    }

    .main-navigation .logo-header{
    display: block;
    float: left;
    width: 355px !important;height:60px;
    background:url(../img/bathtub-reglazing-houston-logo.png) 0 0 no-repeat;
    margin-right: 0 !important;
    margin-top: 10px;

    }

    .main-navigation{
    background-color: #ffffff;
    display: block;
    padding-left: 0;padding-right: 0;
    padding-top: 0;
    border-bottom: 1px solid #eee;
    }

    .main-navigation .nav-list .nav-link{
    font-family: "Open Sans";
    font-weight:600;
    color: #313433;
    text-transform:uppercase;
    font-size: 13px;
    letter-spacing: 1px !important;
    margin-right:5px;
    margin-top: 10px;
    text-align: center;
    }

    .nav-list .nav-item .btn-nav-book{
    background-color: #f8791b;
    padding-top: 8px;
    padding-bottom:8px;
    font-size: 16px;
    color: #ffffff;
    border-radius:2px;
    padding-left: 20px;padding-right: 20px;
    }

    .nav-list .nav-item .gt-quote{
       background-color: #4638b3;
        /*background-image: -webkit-linear-gradient(0deg, #251c6e 0%, #362a91 52%, #4638b3 100%);*/
        padding-top: 8px;
        padding-bottom:8px;
        font-size: 16px;
        color: #ffffff;
        border-radius:2px;
        padding-left: 20px;padding-right: 20px;
        margin-right: 25px;
        }

        .nav-list .nav-item .gt-quote:hover{
            background-color: #4638b3;
            color: #fff !important;
        }
    

    .nav-list .nav-item .btn-nav-book .fa{
    margin-right: 7px;
    font-size: 22px;
    vertical-align: -3px;
    }


    .main-navigation .nav-list .nav-link:hover{
    cursor: pointer;
    color: #039be5;
    }

    .nav-list .nav-item .btn-nav-book:hover{
    color: #fafafa !important;
    background-color: #f8791b;
    }

    .nav-list .dropdown{
    font-family: "Open Sans";
    font-weight:600;
    color: #313433;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    margin-right:10px;
    text-align: center;
    position: relative;
    margin-top: 18px;
    }

    .nav-list .dropdown a{
    color: #313433;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    text-align: center;
    }
    .nav-list .dropdown a:hover{
    text-decoration: none;
    color: #069455;
    }

    .nav-list .dropdown a .caret{
    padding-top: 10px;
    }


   .nav-list .dropdown .nav-dropdown{
    border-radius: 0;
    width:240px;
    padding-bottom:0;
      padding-top: 0;
    }

    .nav-list .dropdown .nav-dropdown li{
    padding-top:8px;padding-bottom:8px;
    display: inline !important;
    float: left;
    border-right: 1px solid #eee;
    border-top:1px solid #eee; 
    width:100%;
    }

    .nav-list .dropdown .nav-dropdown li:nth-child(2n){
        background-color: #f9f6f6;
    }

    .nav-list .dropdown .nav-dropdown li:nth-child(3n){
    border-right: 0;
    }

	.nav-list .dropdown .nav-dropdown .open-repair{
	width: 100%;
	border: none;
	background-color:#e69906 ;
	padding-top:5px;padding-bottom:5px;
	}

	.nav-list .dropdown .nav-dropdown .open-repair:hover{
	background:#cc8807;
	}

    .nav-list .dropdown .nav-dropdown .open-repair .btn-go-repair{
	text-align: center;
	text-transform: uppercase;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
	 font-family: "Open Sans";
    font-weight: 500;
    border: 0;
	 }

    .nav-list .dropdown .nav-dropdown .open-repair .btn-go-repair .fa{
    	margin-left: 10px;
    }

	.nav-list .dropdown .nav-dropdown .open-repair .btn-go-repair:hover{
	text-decoration: underline;
	color: #e0e1e2;
	cursor: pointer;
	}
	
	.nav-list .dropdown .nav-dropdown .open-repair .btn-go-repair:focus,.nav-list .dropdown .nav-dropdown .open-repair .btn-go-repair:active{
	 outline: none !important;
  box-shadow: none !important;
	}
   
    .nav-list .dropdown .nav-dropdown li a img{
   	display: block;
   	margin-right: auto;
   	margin-left: auto;
    }

    .nav-list .dropdown .nav-dropdown a p{
    font-family: "Open Sans";
    font-weight: 600;
    color: #313433;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
     padding-left: 15px;padding-right: 15px;
     margin-top:0;
     text-align: left!important;
     width: 100%;
     margin-bottom:0;
    }

    .dropdown .nav-dropdown li a:hover{
    color: #e69906;

    }

    .dropdown .nav-dropdown li a>p:hover{
    color:#e69906;
    }

    .nav-list .dropdown .nav-dropdown li:hover{
    background: #f5f6f8;
    }

    .nav-list .dropdown .nav-dropdown .nav-title a img {
    display: block;
    float: left;
    padding-left: 10px;
    }

    .nav-list .dropdown .nav-dropdown .nav-title a p{
    text-align: center !important;
    padding-top:7px;
    color: #313433;
    font-weight: 700;
    }
  

     /*contact us section*/

    #contact-section{
    background-image: url(../img/home-page-cover-v4.jpg);
    position: relative;
    background-repeat: no-repeat;
    padding:120px 0 10px;
    background-color: #fff;
    background-size: cover;
    }

    .contact-us-form{
        border-radius: 5px;
    padding-left: 30px;padding-right: 30px;
    padding-bottom: 30px;padding-top:15px;
    width: 90%;
    background-color: #fafafa;
    box-shadow: 0 5px 20px 5px rgba(0,0,0,.1);
    background-image: -webkit-linear-gradient(0deg, #251c6e 0%, #362a91 52%, #4638b3 100%);
    position: relative;

    }

    .contact-us-form .contact-title{
        color: #fff;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 21px;
        text-transform: uppercase;
        width: 100%;
        font-family: "Open Sans";
        margin-top: 4px;
        position: absolute;
        top: -27px;
        left:0;
        text-align: center;
        letter-spacing: 2px;
        /*background-image: -webkit-linear-gradient(0deg, #251c6e 0%, #362a91 52%, #4638b3 100%);*/
        background-color:#f8791b;
    }

    .form-group .upload-label{
        font-family: "Open Sans";
        color: #fff;
        font-size: 13px;
    }
    .form-group .upload-btn {
    
       font-size: 15px;
      

    }



    .contact-us-form  .send-message{
    font-family: "Open Sans";
    font-weight:600;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 3px;
    background-color:#f8791b;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
        display: block;
        width:100%;

    }

    .contact-us-form .contact-form-control{
    font-size: 14px;
    color: #ffffff;
    background: #f7f8f9;
    border: 1px solid #c6c8ca;
    border-radius: 1px;
    font-family: "Open Sans";
    padding-top: 8px;
    font-weight: 600;
    padding-bottom: 8px;
    padding-left: 15px;
    width: 100%;
    }
    .form-control .placeholder{
    color: #073664 !important;
    }

    .contact-form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #073664 !important;
    font-family: "Open Sans";
    font-weight: 600;
    opacity: 1; /* Firefox */
    }

    input, textarea{
    color: #FFF;
    }


    .contact-us-form .select-title{
    font-size: 16px;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 500;
    }

    .contact-us-form .select-reason{
    height: 45px;
    margin-bottom: 20px;
    width: 100%;
    }


    #contact-section .contact-informations{
    display: block;
    }

    .contact-informations h2{
    margin-top: 15px;
    font-size: 34px;
    font-family: "Open Sans";;
    text-align: left;
    color: #fff;
    font-weight:700;
    letter-spacing:1px;  
    margin-bottom: 5px;
    text-shadow: 2px 2px #000000;
    
    }

    .contact-informations h6{
    font-family: "Open Sans";
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    text-align: left;
    padding-left: 40px;
    text-shadow: 1px 1px #000000;
    }

    .contact-informations h6 .fa{
    color: #fff;
    margin-right: 13px;
    }


    .contact-informations  h3{
    font-size: 20px;
    font-family: "Open Sans";;
    text-align: left;
    color: #fff;
    font-weight:600;
    text-shadow: 1px 1px #000000;

    margin-bottom:25px;

    }
    





  


    /* HOME PAGE LAYOUT */

    #info-description{
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .info-left-side h2{
    font-family: "Roboto";
    font-weight: 300;
    /*color: #f88936  !important;*/
    color: #f8791b;
    font-size: 42px;
    text-align: left;
    margin-top:5px;
    margin-bottom: 20px;

    }

    .info-left-side  h3 {
    font-family: "Open Sans";
    font-weight: 500;
    color: #273a44;
    font-size: 22px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 20px;
    }

    .info-left-side  h5{
    font-family: "Open Sans";
    font-weight: 400;
    color: #073664 !important;
    font-size: 24px;
    text-align: left;
    margin-bottom: 35px;
    }

    .info-left-side  h6{
    font-family: "Open Sans";
    font-weight: 600;    
    color: #404b54; 
    font-size: 15px;
    text-align: left;
    margin-bottom: 30px;
    }

   
    .info-left-side h4 {
        color: #404b54;
        font-family: "Open Sans";
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    .info-left-side h4 .fa{
        color: #f8791b;
        font-size: 19px;
        margin-right: 10px;
     
    }


    .info-left-side  h6{
    font-family: "Open Sans";
    font-weight: 400;
    color:#273a44;
    font-size: 16px;
    text-align: left;
    }

    .info-left-side  .btn-quote-sell{
    font-family: "Open Sans";
    font-weight: 500;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 3px;
    background: #E69906;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    }

 


    .sell-right-side img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }




    /* Banner call us now  */
    
    .banner-call{
    padding-top:0;padding-bottom: 0;
    background-color: #fafafa;
   /* background: url(../img/green-lines.png);*/
    background-repeat:repeat-x;
    width: 100%;
    background-image: -webkit-linear-gradient(0deg, #ff544f 0%, rgba(241, 199, 24, 0.99608) 100%);
    }

    .banner-call .call-left h4{
    font-family: 'Open Sans';
    font-weight: 700;
    color: #fafafa;
    font-size: 40px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
     
    }

    .banner-call .call-left h5{
    font-family: 'Open Sans';
    font-weight: 00;
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
     text-shadow: 0px 1px #000;
    }

    .banner-call .call-left h5 span a{
       font-family: 'Open Sans';
    font-weight: 700;
    color: #ffffff;
    font-size: 35px;
    margin-top: 10px;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0px 1px #000;
    border: 2px solid #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;padding-bottom: 5px;
    border-radius: 5px;
    margin-right: 10px;margin-left: 10px;
  
    }

    .banner-call .call-left h5 span a .fa {
    margin-left: 10px;margin-right: 8px;
    font-size: 30px;
    color: #fff;
    }

   #back-to-top {
    position: fixed;
    bottom: 40px;
    right: 15px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: rgba(0,0,0,0.3);
    color: #fafafa;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    }
    #back-to-top:hover {
    background: rgba(0,0,0,0.5);
    }
    #back-to-top.show {
    opacity: 1;
    }


    /* SECTION CHOOSE COLOR */

    #section-color{
        padding-top: 40px;
        padding-bottom:30px;
    }

    #custCarousel{
        margin-bottom: 30px;
    }

    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    
    #custCarousel .carousel-indicators {
        position: static;
        margin-top: 20px;
    }
    
    #custCarousel .carousel-indicators>li {
        width: 100px;
    }
    
    #custCarousel .carousel-indicators li img {
        display: block;
        opacity: 0.5;
    }
    
    #custCarousel .carousel-indicators li.active img {
        opacity: 1;
    }
    
    #custCarousel .carousel-indicators li:hover img {
        opacity: 0.75;
    }
    
    .carousel-item img {
        width: 100%;
    }

    .color-info{
        padding-left: 35px;
        padding-right:45px;
    }

    .color-info h2{
        font-family: "Roboto";
        font-weight: 300;
        color: #f8791b;
        font-size: 40px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .color-info h6{
        font-family: "Open Sans";
        font-weight: 400;
        color: #273a44;
        font-size: 17px;
        text-align: left;
    }

    .color-list{
        display: block;
        width: 100%;
        padding-left: 0;
        margin-top: 25px;
    }

    .color-list li{
    list-style-type: none;
    border-top: 1px solid   #eee;
    padding-top: 20px;
    padding-bottom: 10px;
    }

    .color-list li p{
    font-family: "Open Sans";
    font-weight: 400;
    color: #273a44;
    font-size: 16px;
    margin-bottom: 5px;
    padding-left: 20px;
    text-align: center;
    }

    .color-list li img{
    padding-left: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }


    /* BEFORE AFTER GALLERY */

    .other-services {
        padding-top: 35px;
        padding-bottom: 50px;
        background: #fff;
        text-align: center;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    .other-services .h-title1 {
        font-family: "Roboto";
        font-weight: 300;
        color: #f8791b;
        font-size: 42px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    
    }

    .other-services .txt-title-1 {
        font-family: "Roboto";
        font-weight: 300;
        color: #f8791b;
        font-size: 20px;
        text-align: center;
        margin-top:0;
        margin-bottom: 30px;
    }

    .box-gallery{
        margin-bottom: 20px;
    }

    
  /* afterbefore slider*/

.beer-slider {
    display: inline-block;
    position: relative;
    overflow: hidden; }
    .beer-slider *, .beer-slider:before, .beer-slider:after,
    .beer-slider *:before,
    .beer-slider *:after {
      box-sizing: border-box; }
    .beer-slider img, .beer-slider svg {
      vertical-align: bottom; }
    .beer-slider > * {
      height: 100%; }
    .beer-slider > img {
      max-width: 100%;
      height: auto; }
  
  .beer-reveal {
    position: absolute;
    left: 0;
    top: 0;
    right: 50%;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.35s; }
    .beer-reveal > :first-child {
      width: 200%;
      max-width: none;
      height: 100%; }
    .beer-reveal > img:first-child {
      height: auto; }
  
  .beer-range {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    height: 100%;
    margin: 0;
    left: -1px;
    width: calc(100% + 2px);
    cursor: pointer;
    -webkit-appearance: slider-horizontal !important;
    -moz-appearance: none;
    opacity: 0;
    -ms-touch-action: auto;
    touch-action: auto; }
    .beer-range::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 300vh; }
    .beer-range::-moz-range-thumb {
      -webkit-appearance: none;
      height: 300vh; }
    .beer-range::-ms-tooltip {
      display: none; }
  
  .beer-handle {
    position: absolute;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0);
    transition: background 0.3s, box-shadow 0.3s, opacity 0.5s 0.25s; }
    .beer-handle:before, .beer-handle:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      border-top: solid 2px;
      border-left: solid 2px;
      transform-origin: 0 0; }
    .beer-handle:before {
      left: 10px;
      transform: rotate(-45deg); }
    .beer-handle:after {
      right: 0;
      transform: rotate(135deg); }
  
  .beer-range:focus ~ .beer-handle {
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); }
  
  .beer-slider[data-beer-label]:after,
  .beer-reveal[data-beer-label]:after {
    content: attr(data-beer-label);
    position: absolute;
    top: 1.5rem;
    line-height: 1;
    padding: 0.5rem;
    border-radius: 0.125rem;
    background: rgba(255, 255, 255, 0.75); }
  
  .beer-slider[data-beer-label]:after {
    right: 1.5rem; }
  
  .beer-reveal[data-beer-label]:after {
    left: 1.5rem; }
  
  .beer-slider[data-beer-label=""]:after,
  .beer-reveal[data-beer-label=""]:after {
    content: none; }
  
  .beer-ready .beer-reveal, .beer-ready .beer-handle {
    opacity: 1; }
  


    /*PRICING SECTION*/

    #pricing-section{
        padding-top: 40px;padding-bottom: 50px;
        background-image: url(../img/shiny-light.png);
        position: relative;
        background-repeat: no-repeat;
    }

    #pricing-sectionrvices .sub {
    font-family: "Roboto";
    font-weight: 300;
    color: #f88936 !important;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    }

    #pricing-section h1{
    font-family: "Roboto";
    font-weight: 300;
    color: #f8791b;
    font-size: 42px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    .price-box{
    background-color: transparent;
    background-image: linear-gradient(45deg, #4F2EB3 0%, #8761CB 100%);
    padding-top: 25px;
    margin-bottom: 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    max-width: 340px;
    margin-right: 20px;
    }
    .price-box:last-child{
    margin-right: 0;
    }

    .price-box .headline{
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    font-family: "Open Sans";
    margin-top: 20px;
    }

    .price-box h4{
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: "Open Sans";
    }

    .price-box p{
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    font-family: "Open Sans";
    margin-bottom: 8px;
    }
    .price-box .price{
    text-align: center;
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    font-family: "Open Sans";
    margin-top: 40px;
    margin-bottom: 30px;
    }

    .price-box .button-go{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 10px;

    font-size: 20px;
    font-family: "Open Sans";
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-top:40px;margin-bottom: 40px;
    text-align: center;
    /*background-image: -webkit-linear-gradient(-45deg, rgba(250, 209, 38, 0.99608) 0%, #ff544f 100%);*/
    padding-top: 12px;padding-bottom: 12px;
    border:3px solid #fff;
    }
    

    /* ANTISLIP SECTION */


    #section-antislip{
    padding-top: 40px;
    padding-bottom:30px;
    background-image: -webkit-linear-gradient(0deg, #251c6e 0%, #362a91 52%, #4638b3 100%);
    }

    #custCarousel{
    margin-bottom: 30px;
    }

    .carousel-inner img {
    width: 100%;
    height: 100%;
    }

    #custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px;
    }

    #custCarousel .carousel-indicators>li {
    width: 100px;
    }

    #custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    }

    #custCarousel .carousel-indicators li.active img {
    opacity: 1;
    }

    #custCarousel .carousel-indicators li:hover img {
    opacity: 0.75;
    }

    .carousel-item img {
    width: 100%;
    }

    .antislip-info{
    padding: 30px;
    }

    .antislip-info h2{
    font-family: "Roboto";
    font-weight: 600;
    color: #fff;
    font-size: 37px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    }

    .antislip-info h3{
        font-family: "Roboto";
        font-weight: 400;
        color: #fff;
        font-size: 22px;
        text-align: center;
        margin-top:5px;
        margin-bottom: 20px;
        }

    .antislip-info h6{
    font-family: "Open Sans";
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    text-align: left;
    }

    .fea-list{
    display: block;
    width: 100%;
    padding-left: 35px;
    margin-top: 35px;
    }

    .fea-list li{
    list-style-type: none;
   
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    margin-right: 30px;
    /* box-shadow: 0 5px 15px 0 rgba(0,0,0,.1);*/
    }
    .fea-list li:last-child{
        margin-right: 0;
    }

    .fea-list li p{
    font-family: "Open Sans";
    font-weight: 600;
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    }

     .fea-list li img{
     width: 60px;height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

     .blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;

    }

    /* The colour of the indicators */
    .blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    }

    .blog .carousel-indicators .active {
    background: #707070;
    }

    .blog  .carousel-item img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    } 

    .blog  .carousel-item .txt-short{
        position: absolute;
        bottom: 5px;
        right: 25px;
        font-size: 16px;
        font-family: "Open Sans";
        font-weight: 400;
        padding-left: 25px;padding-right: 25px;
        padding-top: 4px;padding-bottom: 4px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.4);
    }

    
    .blog  .carousel-item .txt-short a{
     
        font-size: 16px;
        font-family: "Open Sans";
        font-weight: 600;
        
        color: #fff;
      
    }


     /*client testimonial */
     .review-section{
        display: block;
        width: 100%;
        background-color: #fafafa;
        padding-top:40px;padding-bottom:40px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top:45px;
    
        }
        
    
        .review-section .text-box-cust h2{
            font-family: "Roboto";
            font-weight: 300;
            color: #f8791b;
            font-size: 42px;
            text-align: center;
            margin-top: 5px;
            margin-bottom: 5px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    
        .review-section .text-box-cust h4{
            font-family: "Roboto";
    font-weight: 300;
    color: #f8791b;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
        }
    
        .review-section .text-box-cust .border-line-4 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid #4baf21;
        width: 80px;
        margin-bottom: 15px;
        }
    
        .review-section .impression-user{
        background-color: #ffffff;
        border-radius:0px;
        border: 1px solid #efeeee;
        width: 97%;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: #fff url(../img/quote.png) no-repeat top;
        margin-bottom: 15px;
        margin-top: 25px;
        height: 255px;
        box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    
        }
    
        .review-section .impression-user h6{
            font-family: 'Open Sans', sans-serif;  
        font-weight: 400;
        color: #292929;
        font-size: 14px;
        text-align: center;
        padding-top:25px;
        line-height: 20px;
    
        }
    
        .review-section .impression-user .name-cst{
            font-family: 'Open Sans', sans-serif;  
        font-weight: 600;
        color: #292929;
        font-size: 18px;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 5px;
        margin-top: 20px;
        position: absolute;
        bottom: 25px;
        left: 36%;
        }

        .review-section .impression-user .position {
        font-family: 'Open Sans', sans-serif;  
        font-weight: 400;
        color: #687f96;
        font-size: 13px;
        text-align: center;
        letter-spacing: 1px;
        font-style: italic;
        margin-bottom: 0;
        }
        .review-section .impression-user .title-cst{
        font-family: 'Open Sans', sans-serif;  
        font-weight: 300;
        color: #cccaca;
        font-size: 13px;
        text-align: right;
        margin-bottom: 5px;

        }

        
         .impression-user .star{
        position: absolute;
        left: 36%;
        bottom: -3%;
        width: 28%;

        }

     .impression-user .network{
        position: absolute;
        left:10px;
        top:10px;
        width:24px;height:24px;
        display: block;
    
        }



        /* SECTION SERVICES*/

        #section-services{
        padding-top: 40px;
        padding-bottom: 40px;
        }

        #section-services .t-1{
        font-family: "Roboto";
        font-weight: 300;
        color: #f8791b;
        font-size: 42px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        }

        #section-services .t-2{
        font-family: "Roboto";
        font-weight: 300;
        color: #f8791b;
        font-size: 22px;
        text-align: center;
        margin-top:0;
        margin-bottom: 35px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        }


        .new-buy-info {
        padding-bottom: 20px;
        margin-bottom: 15px;
        padding-left: 5px;padding-right: 5px;
        }

        .new-buy-info .img-placeholder {
        position: relative;
        }

        .new-buy-info .img-placeholder .in-image{
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
            border: 1.5px solid #838384;
            width: 93%;
        }

        .new-buy-info .img-title {
        color: #fff;
        padding-left: 20px;padding-right: 20px;
        padding-top: 7px;padding-bottom:7px;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 18px;
        border-radius: 5px;
        font-family: "Open Sans";
        margin-top: 4px;
        position: absolute;
        bottom: 10px;
        left:25px;
        background-image: -webkit-linear-gradient(0deg, #251c6e 0%, #362a91 52%, #4638b3 100%);
        
        }



  #main-description {
    padding-top: 35px;
    padding-bottom: 35px;
    
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    
    }


    .info-service{
    background-color: #fdfcfc;
    border: 2px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-left: 30px;
    padding-right: 20px;
    position: relative;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);

    }

    .info-service h2{
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    margin-top:10px;
    margin-bottom:25px;

    color: #f8791b;

    }


    .info-service p{
    font-family: "Open Sans";
    font-weight: 400;
    color: #273a44;
    font-size: 16px;
    text-align: left;
    margin-bottom: 25px;
    }

    .info-service h6{
    font-family: "Open Sans";
    font-weight: 500;
    color: #273a44;
    font-size: 16px;
    text-align: left;
    padding-left: 40px;
    }

    .info-service h6 .fa{
    color: #F8791B;
    margin-right: 10px;
    }

    .sell-right-side img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
    }


    /* our services top*/

    .icons-header{
        padding-top: 25px;
        padding-bottom: 25px;
        /*background-image: -webkit-linear-gradient(0deg, #251c6e 0%, #362a91 52%, #4638b3 100%);*/
        background-image: url(../img/shiny-light.png);
    /*background-image: -webkit-linear-gradient(0deg, #ff544f 0%, rgba(250, 209, 38, 0.99608) 100%);*/
    background-repeat: no-repeat;
    }

    .ser-box img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
    
        .ser-box p{
        font-family: "Open Sans";
        font-weight: 500;
        color: #f8791b;
        font-size: 14px;
        text-align:center;
        margin-top: 10px; 
        margin-bottom: 0;
        }
    
        .ser-box h6{
            font-family: "Open Sans";
            font-weight: 600;
            color: #f8791b;
            font-size: 15px;
            text-align:center;
            margin-top: 30px; 
        }
        
    /* commercial SECTION */


    #commercial-section{
    padding-top: 40px;
    padding-bottom:25px;
    background-color: #fff;
    border-top: 1px solid #eee;
 
    }

    .commercial-info{
    padding: 30px;
    }

    .commercial-info h2{
    font-family: "Roboto";
    font-weight: 500;
    color: #f8791b;
    font-size: 37px;
    text-align: center;
    margin-top: 0px;
    margin-bottom:20px;
    }

    .commercial-info h3{
    font-family: "Roboto";
    font-weight: 400;
    color: #f8791b;
    font-size: 22px;
    text-align: center;
    margin-top:5px;
    margin-bottom: 20px;
    }

    .commercial-info h6{
        font-family: "Open Sans";
        font-weight: 400;
        color: #273a44;
        font-size: 16px;
        text-align: left;
        margin-bottom: 25px;
    }

    .c-list{
    display: block;
    width: 100%;
    padding-left:0;
    margin-top: 35px;
    }

    .c-list li{
    list-style-type: none;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: inline-block;
    margin-right:15px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.1);
    width: 45%;
    margin-bottom: 15px;
  
    }
    .c-list li:last-child{
    margin-right: 0;
    }

    .c-list li p{
    font-family: "Open Sans";
    font-weight: 600;
    color:#273a44;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
 
    }

    .c-list li img{
    width: 60px;height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    }


    
	/* --------------- FOOTER STYLE -------------------  */ 


	  footer{
        background:#111019;
        padding-top:45px;
        padding-bottom:0
    
        }
    
        footer .logo-left {
        display: block;
        float: left;
        list-style-type: none;
        padding-left: 0;
        width: 100%;
        margin-top: 22px;
        }
    
         footer .text-rights{
        text-align: center;
        font-family: 'Archivo Narrow', sans-serif;
        font-weight: 400;
        color: #7b8084;
        font-size: 11px;
        letter-spacing: 1px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        padding-left: 10px;
        margin-top:20px;
        border-top: 1px solid #1d2428;
        padding-top: 10px;
        letter-spacing: 1px;
         }
    
         .social-footer{
            display: block;
            float: left;
            list-style-type: none;
            width: 80%;
        
            }
        
            .social-footer  h3{
            font-family: "Roboto";
            font-weight: 400;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            text-align: left; 
            letter-spacing: 1px; 
            border-bottom: 1px solid #fff;
            padding-bottom: 12px;
            margin-bottom: 20px;
            width:60%;
            }
        
            .social-footer  h3 .fa{
            margin-right: 15px;
            font-size: 14px
            }
        
            .social-footer li{
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
            }
        
            .social-footer li p{
            font-family: "Roboto";
            font-weight: 300;
            color: #dee1e3;
            font-size: 13px;
        
            letter-spacing: 1px; 
            margin-bottom: 3px; 
            }
        
            .social-footer li p span{
            font-family: "Roboto";
            font-weight: 500;
            color: #dee1e3;
            font-size: 13px;
            text-align: center; 
            letter-spacing: 1px; 
            margin-bottom: 3px; 
            text-align: center;
            }
            
          
    
    
    
    
          /* Footer contact information */
    
        .adress-nav{
        list-style-type:none;
        float: right;
        }
    
    
        .adress-nav h3 {
        font-family: 'Archivo Narrow', sans-serif;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        letter-spacing: 1px;
        border-bottom: 1px solid #fafafa;
        padding-bottom: 10px;
        margin-bottom: 12px;
        width: 95%;
        }
    
    
        .adress-nav li a {
        font-family: 'Archivo Narrow', sans-serif;
           font-size: 18px;
         font-weight: 600;
        color: #ffffff;
        text-align: left; 
        letter-spacing: 1px; 
        margin-bottom: 3px;
        }

        .adress-nav li .footer-quote{
            font-size: 15px;
            font-weight: 500;
           color: #ffffff;
           text-align: center; 
           border: 1px solid #fff;
           font-family: "Open Sans";
           padding-top: 9px;padding-bottom: 9px;
           padding-left: 20px;padding-right: 20px;
        }
    
        .adress-nav li p {
        font-family: 'Archivo Narrow', sans-serif;
        font-size: 13px;
        font-weight: 500;
        color: #ffffff;
        text-align: left;
        float: left; 
        letter-spacing: 1px; 
        margin-bottom: 3px;
        margin-right: 10px;
        }
    
         .adress-nav li img{
          display: block;
          margin-right: 10px;
          float: left;
         }
    
          .adress-nav li:last-child{
            margin-top: 20px;
          }
    
    
    
        .adress-nav li a .fa{
         margin-right:11px;
         font-size: 18px;
         color:#ffffff;
        }
    
        .adress-nav li a:hover{
        cursor: pointer;
        color: #fafafa;
        text-decoration: none;
        }

        
	.sub-footer{
        display: block;
        width: 100%;
        padding-top:8px;padding-bottom:8px;
        background-color:#0f0e17;
        margin-top: 20px;
        }
    
        .sub-footer .copy {
            font-family: "Roboto";
        font-weight: 400;
        color: #d5d2d2 !important;
        text-align: center;
        display: block;
        font-size: 11px;
        float: right;
        margin-top: 3px;
        letter-spacing: 1px;
        margin-bottom: 3px;
        }
    
    

    

	/* --------------- FOOTER STYLE -------------------  */ 


    /* HOme Page banner section before after about  */

    .banner-left-1{
    width: 100%;
    display: block;
    padding-left: 0;
    padding-right: 0;
    }

    .banner-left-1 .img-fluid{
   
    }

    .banner-right-3{
     width: 100%;
    display: block;
    padding-left: 0;
    padding-right: 0;
    }   
    
    .banner-center-2 .txt-center{
    display: block;
    width: 100%;
    margin-top: 15px;
    }


    .banner-center-2 .txt-center h2{
    font-family: 'Open Sans';
    font-weight: 600;
    color: #313433;
    font-size: 26px;
    margin-bottom:20px;
    text-align: left;
    }

    .banner-center-2 .txt-center p{
    font-family: 'Open Sans';
    font-weight: 600;
    color: #313433;
    font-size: 14px;
    text-align:left;
    }

    .banner-center-2 .button-go-services{
       display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width:190px;
    font-family: "Open Sans";
    font-weight:600;
    color: #ffffff;
    text-transform: uppercase;
    background-color:#039BE5;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid #039BE5;
    border-radius: 2px;
    margin-top: 35px;
    font-size: 14px;
    margin-bottom: 10px;
    }

  

    /* banner*/


      .demo-box{
    background-color:#253f59;
    display: block;
    width: 100%;
    margin-top: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    background: url(../img/orange-cover.png);
    background-repeat: repeat-x;
    }

    .demo-box .box-content{
    display: block;
    margin-right: auto;
    margin-left: auto;
    }

    .demo-box .box-content h3{
    font-family: "Open Sans";
    font-weight: 600;
    color:#fff;
    font-size: 27px;
    text-align: center;
    padding-bottom: 5px;
    }

    .demo-box .box-content p{
       font-family: "Open Sans";
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    }


    .demo-box .box-content .border-line-5{
      border-bottom: 1px solid #fafafa;
    width: 20%;
    margin-bottom: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;

    }

    .box-content .btn-signup-5{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
      font-family: "Roboto";
    font-weight: 500;
    color: #fafafa;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #203c53;
    padding-top: 13px;padding-bottom: 13px;
    border:0;border-radius: 0;
    letter-spacing: 1px;
    margin-top: 30px;
    }

    .box-content .btn-signup-5:hover{
        cursor: pointer;
        /*background-color: #cc9d19;*/
        color: #ffffff;
    }







    /* -------------------  RESPOSNIVE DESGIN -------------------  */
    
      
    
    
    @media (max-width: 1079px) {

          .main-navigation .nav-list .nav-link{
            font-size: 11px;
          }

          #buy-txt-section .repair-content h2{
            font-size: 24px;
          }

          .banner-call .call-left h4{
            font-size: 18px;
          }

          .banner-call .call-left h5{
            font-size: 26px;
          }

              .banner-call .call-left h5 span {
            font-family: 'Open Sans';
            font-weight: 700;
            color: #ffffff;
            font-size: 26px;
            margin-top: 10px;
            letter-spacing: 1px;
            text-align: center;
            text-shadow: 0px 1px #000;
            border: 2px solid #fff;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 5px;
            margin-right: 10px;
            margin-left: 10px;
            }

            .demo-box .box-content h3{
                font-size: 24px;
            }

            .info-left-side h2{
                font-size: 26px;
            }


      }


    @media (min-width: 1920px) {

        #pricing-section{
            background-color: #fafafa;
            background-image: none;
            width: 100%;
        }

        .call-left img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .banner-call .call-left h4{
            text-align:left;
        }

        .banner-call .call-left h5{
            text-align: left;
        }

        .blog img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    }
        





	/* Responsive Design Changes fixes CSS Tablet  */
	
    @media (max-width: 1200px) { 
    
       

        .ser-box p{
        font-size: 13px;
        }

        .ser-box h6{
        margin-top: 15px;
        font-size: 14px;
        }

        .info-left-side h2{
        font-size: 35px;
        }
        .info-left-side h4{
        font-size: 16px;
        }

        .banner-call .call-left h4{
            font-size: 33px;
        }
        .banner-call .call-left h5{
            font-size: 17px;
        }

        .color-info h2{
            font-size: 34px;
        }

        .color-info h6{
            font-size: 16px;
        }

        .price-box{
            max-width: 290px;
        }

        .price-box .headline{
            font-size: 29px;
        }

        .price-box .price {
            text-align: center;
            color: #fff;
            font-size: 50px;
            font-weight: 700;
            font-family: "Open Sans";
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .price-box p{
            font-size: 14px;
        }

        .price-box .button-go {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 197px;
            border-radius: 10px;
            font-size: 20px;
            font-family: "Open Sans";
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 25px;
            margin-bottom: 25px;
            text-align: center;
            /* background-image: -webkit-linear-gradient(-45deg, rgba(250, 209, 38, 0.99608) 0%, #ff544f 100%); */
            padding-top: 10px;
            padding-bottom: 10px;
            border: 3px solid #fff;
            font-size: 16px;
        }

        .antislip-info h2{
            font-size: 32px;
        }

        .antislip-info h3{
            font-size: 20px;
        }

        .new-buy-info {
            padding-bottom: 20px;
            margin-bottom: 15px;
            padding-left: 5px;
            padding-right: 5px;
         
        }

        .fea-list{
            padding-left: 0;
        }

        .fea-list li {
            margin-right: 20px;
        }

        .new-buy-info .img-placeholder .in-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
            border: 1.5px solid #838384;
            width: 96%;
        }

        .new-buy-info .img-title {
            color: #fff;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 7px;
            padding-bottom: 7px;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 15px;
            border-radius: 5px;
            font-family: "Open Sans";
            margin-top: 4px;
            position: absolute;
            bottom: 10px;
            left: 25px;
            background-image: -webkit-linear-gradient(0deg, #251c6e 0%, #362a91 52%, #4638b3 100%);
        }

        #section-services .t-1{
            font-size: 35px;
        }

        .commercial-info h2{
            font-size: 33px;
        }

        .piccom{
            margin-top: 80px!important;
            display: block;
        }

        .c-list li img{
            width: 45px;
            height: 45px;
        }

        .info-service p{
            font-size: 15px;
        }

        .commercial-info h6{
            font-size: 15px;
        }

        #commercial-section{
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .c-list li p {
            font-family: "Open Sans";
            font-weight: 600;
            color: #273a44;
            font-size: 14px;
            margin-top: 20px;
            margin-bottom: 5px;
            text-align: center;
        }

        .c-list li{
            margin-right: 5px;
            padding-bottom: 11px;
        }

        .info-service h2{
            font-size: 30px;
        }

        .new-buy-info .img-titl{
            font-size: 18px;
        }

        .blog .pic-1{
            margin-top: 70px;
            display:block;
        }

        .review-section .text-box-cust h2{
            font-size: 34px;
        }

        .review-section .impression-user{
            height: 280px;
        }

        .review-section .impression-user h6{
            font-size: 13px;
        }

        .review-section .impression-user .name-cst{
            font-size: 16px;
            bottom: 20px;
        }


      

	} /* end mobile responsive media querie*/



    @media (max-width: 991px) {
        
        

        .contact-informations h2{
            font-size: 26px;
        }

        .contact-informations h6 {
            font-family: "Open Sans";
            font-weight: 600;
            color: #fff;
            font-size: 16px;
            text-align: left;
            padding-left:0;
        }

        .contact-us-form{
            width: 100%;
        }

        .info-left-side h6{
            font-size: 14px;
        }

        .color-pic{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .info-left-side h4 {
            font-size: 15px;
        }

        .other-services .h-title1{
            font-size: 32px;
        }

        .other-services .txt-title-1{
            font-size: 19px;
        }

        #pricing-section h1{
            font-size:34px ;
        }

        .price-box {
            max-width: 225px;
            margin-right: 7px;
            padding-top: 15px;
            position: relative;
        }

        .price-box .headline {
            font-size: 26px;
        }
        .price-box p {
            font-size: 13px;
        }

        .price-box h4{
            font-size: 15px;
        }

        .price-box .button-go {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 182px;
            border-radius: 10px;
            font-size: 20px;
            font-family: "Open Sans";
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 25px;
            margin-bottom: 25px;
            text-align: center;
            /* background-image: -webkit-linear-gradient(-45deg, rgba(250, 209, 38, 0.99608) 0%, #ff544f 100%); */
            padding-top: 7px;
            padding-bottom: 7px;
            border: 3px solid #fff;
            font-size: 15px;
         
        }

        .banner-call .call-left h4{
            font-size: 22px;
            margin-top: 10px;
        }

        .banner-call .call-left h5 {
            font-size: 15px;
        }

        .blog .pic-1 {
            margin-top:0;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .new-buy-info .img-placeholder .in-image{
            width: 100%;
        }

        .piccom {
            margin-top:20px!important;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .review-section .impression-user {
            height: 177px;
        }

        .impression-user .star {
            position: absolute;
            left: 40%;
            bottom: -3%;
         width:15%;
        }

        .review-section .impression-user .name-cst {
            font-size: 16px;
            bottom: 20px;
            text-align: center;
            left: 41%;
        }

        .sell-right-side img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top:20px;
        }

        .fea-list {
            display: block;
            width: 65%;
            padding-left:0;
            margin-top: 35px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }


    }  /* end  max widht 991px  */
	

   

    @media (max-width: 767.98px) {

        
        .contact-informations h2{
            text-align: center;
        }

        .contact-informations h6{
            text-align: center;
        }

        .contact-informations h3{
            font-size: 18px;
            text-align: center;
        }

        .contact-us-form{
            margin-top: 30px;
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .ser-box{
            margin-bottom: 15px;
        }

        .info-left-side h4 {
            font-size: 14px;
        }

        .call-left{
            padding-left: 15px !important;
            padding-top: 15px;
        }

        .color-info h2 {
            font-size: 28px;
            margin-top: 0;
        }

        .color-info h6 {
            font-size: 15px;
            text-align: center;
        }

        .other-services .txt-title-1 {
            font-size: 16px;
        }

        .fea-list li {
            margin-right: 15px;
            width: 40%;
        }

        .price-box {
            max-width: 240px;
            margin-right: 7px;
            padding-top: 15px;
            position: relative;
        }

        #pricing-section {
            padding-top: 30px;
            padding-bottom: 30px;
            background-image: none;
            position: relative;
            background-repeat: no-repeat;
            background-color: #fafafa;
        }

        .antislip-info h2 {
            font-size: 28px;
        }

        .antislip-info h6 {
            font-family: "Open Sans";
            font-weight: 400;
            color: #fff;
            font-size: 15px;
            text-align: left;
        }

        #section-services .t-1 {
            font-size: 30px;
        }

        .info-service h2 {
            font-size: 28px;
        }

        .commercial-info h2 {
            font-size: 28px;
        }

        .fea-list{
            width: 100%;
        }

        #section-services .t-2{
            font-size: 17px;
        }

        .call-left img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .info-left-side h2 {
            font-size: 28px;
            text-align: center;
        }






	}   /* /End responsive Tablet size */




	
	@media (max-width: 575.98px) { 
    
        

        .contact-informations h6{
            text-align: center;
        }

        .review-section .impression-user {
            height: 251px;
        }

        .impression-user .star {
            position: absolute;
            left: 40%;
            bottom: -3%;
            width: 25%;
        }

        .adress-nav{
            float: left;
            margin-top: 20px;
        }

        .box-cust h2 {
            font-size: 27px;
        }

        .review-section{
            padding-top: 20px;
            margin-top: 10px;
        }

        .info-service h2 {
            font-size: 26px;
        }
        .review-section .text-box-cust h2 {
            font-size: 34px;
        }

        .commercial-info{
            padding: 15px;
        }

        .c-list li img {
            width: 45px;
            height: 45px;
            display: block !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }

        .c-list li p {
            width: 100%;
            display: block;
            float: left;
            text-align: left;
            margin-top: 10px;
        }

        .main-description .row{
            padding-left:5px !important;
            padding-right: 5px !important;
        }

        .price-box {
            max-width: 270px;
            margin-right: 7px;
            padding-top: 15px;
            position: relative;
        }

        .banner-call .call-left h4 {
            font-size: 22px;
            margin-top: 4px;
            margin-bottom: 5px;
        }

        .info-left-side h4 .fa {
            color: #f8791b;
            font-size: 17px;
            margin-right: 5px;
        }

        #main-description .r-2{
            padding-left: 0!important;
            margin-top: 25px !important;
        }

        #main-description .r-1{
            padding-right: 0!important;
        }

        .color-info {
            padding-left: 20px;
            padding-right: 20px;
        }

        .review-section .text-box-cust h2 {
            font-size: 28px;
        }

        .sell-right-side{
            padding-right: 0;
        }

        .info-service{
            border-top-left-radius: 0;
            border-bottom-right-radius:0;
            padding-left: 30px;
        }


      

	} /* end mobile responsive media querie*/

